<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>TITLE</title>
  <!--
  <link rel="stylesheet" type="text/css" href="/path/to/styles.css" />
  -->
</head>
<body>
  <h1>
    PAGE_HEADER
  </h1>
  <article lang="en">
    <h2>
      ARTICLE_HEADER
    </h2>
    <p>
      Written at {{currentTimestamp}}. Unless otherwise specified, the photo
      timestamps are all in local time.
    </p>
    <p>
      BRIEF_DESCRIPTION
    </p>
    {{#photos}}
    <div>
      <img
        src="thumbnails/{{filename}}"
        alt="{{altText}}" />
      <p>Captured at {{timestamp}} at LOCATION.</p>
      <p>DESCRIPTION</p>
    </div>
    {{/photos}}
  </article>
</body>
</html>
